body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  background: url('/Chris-Galaxy-Background.png') no-repeat center center fixed;
  background-size: cover;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
